body{
    background: #333;
    font-size: large;
    color: #ccc;
}
h1{
    text-align: center;
    color: darkgoldenrod;
}
/* input[type="text"]{
    width: 40vw;
    border-radius: 2vw;
    border: 1px solid #ccc;
    padding: 5px;
} */

#form{
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 2vw;
    border: 1px solid #ccc;
    text-align: center;
}

#form input[type="text"]{
    width: 30vw;
    border-radius: 2vw;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 8px;
}

#form input[type="submit"]{
    width: 10vw;
    border-radius: 2vw;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 8px;
}
#form input[type="submit"]:hover{
    background: #ccc;
}
input[type="button"]{
    width: 10vw;
    border-radius: 2vw;
    border: 1px solid #ccc;
    padding: 5px;
    margin-bottom: 8px;
}
table{
    width: 44%;
    margin: 0 auto ;
    margin-top: 2vw;
    /* c */
    /* border: 1px solid #ccc; */
    padding: 10px;
    border-collapse: collapse;
    
    
}
th, td {
    border: 1.5px solid #ccc;
    border-collapse: collapse;
    padding: 15px 10px;
  }
table td{
    width: 42%;
    word-wrap: break-word;
white-space: pre-wrap;
word-break: break-word;

}

th{
    width: 20%;
    text-align: right;
    padding: 5px 20px;
    color: darkgoldenrod;
}
